.mySkils {
    background-image: linear-gradient(43deg, #0a373a, #484361);
    box-shadow: #2e5d6b -1px -1px 9px 1px;
    position: absolute;
    color: var(--textColor);
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .SkillBox{
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url("../images/11.gif");
 background-size: cover;
  }

  .skillRight{
   
    color: rgb(255, 255, 255);
    /* background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url("../images/objectives.gif"); */
    background-color: transparent;
    
     
  }
  .list  li{
    padding-top: 12px;
   padding-bottom: 30px;
   font-size: larger;
  }
 
  
  @media only screen and (max-width: 991px) {
    .cardBody {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  
    .video {
      width: 100% !important;
      height: auto !important;
    }
    .SkillBox{
      display: block !important;
    }

    .list  li{
      margin-top: 9px;
     margin-bottom: 15px;
     
    }
  }
  
  
  