.divBox,.divBox div,.myProject{
    background-color:var(--bgColor);
    color: var(--textColor);
}
 
.content p{
    background-image: linear-gradient(185deg,#715cb1, #2e73ad);
    color: #ffffff;
    font-weight: 500;
    margin-top: 12px;
    padding: 6px;
    border-radius: 8px;
    box-shadow: black 0px 1px 11px 3px;
}
.content p a {
    color: #00ffad;
    text-decoration: none;
}